In [4]:
import crater_math
import our_tools
import pandas as pd

df = pd.read_csv("Datasets/meteorite-landings.csv")
df

,name,id,nametype,recclass,mass,fall,year,reclat,reclong,GeoLocation
0,Aachen,1,Valid,L5,21.0,Fell,1880.0,50.77500,6.08333,"(50.775000, 6.083330)"
1,Aarhus,2,Valid,H6,720.0,Fell,1951.0,56.18333,10.23333,"(56.183330, 10.233330)"
2,Abee,6,Valid,EH4,107000.0,Fell,1952.0,54.21667,-113.00000,"(54.216670, -113.000000)"
3,Acapulco,10,Valid,Acapulcoite,1914.0,Fell,1976.0,16.88333,-99.90000,"(16.883330, -99.900000)"
4,Achiras,370,Valid,L6,780.0,Fell,1902.0,-33.16667,-64.95000,"(-33.166670, -64.950000)"
5,Adhi Kot,379,Valid,EH4,4239.0,Fell,1919.0,32.10000,71.80000,"(32.100000, 71.800000)"
6,Adzhi-Bogdo (stone),390,Valid,LL3-6,910.0,Fell,1949.0,44.83333,95.16667,"(44.833330, 95.166670)"
7,Agen,392,Valid,H5,30000.0,Fell,1814.0,44.21667,0.61667,"(44.216670, 0.616670)"
8,Aguada,398,Valid,L6,1620.0,Fell,1930.0,-31.60000,-65.23333,"(-31.600000, -65.233330)"
9,Aguila Blanca,417,Valid,L,1440.0,Fell,1920.0,-30.86667,-64.55000,"(-30.866670, -64.550000)"
10,Aioun el Atrouss,423,Valid,Diogenite-pm,1000.0,Fell,1974.0,16.39806,-9.57028,"(16.398060, -9.570280)"
11,AÃ¯r,424,Valid,L6,24000.0,Fell,1925.0,19.08333,8.38333,"(19.083330, 8.383330)"
12,Aire-sur-la-Lys,425,Valid,Unknown,NaN,Fell,1769.0,50.66667,2.33333,"(50.666670, 2.333330)"
13,Akaba,426,Valid,L6,779.0,Fell,1949.0,29.51667,35.05000,"(29.516670, 35.050000)"
14,Akbarpur,427,Valid,H4,1800.0,Fell,1838.0,29.71667,77.95000,"(29.716670, 77.950000)"
15,Akwanga,432,Valid,H,3000.0,Fell,1959.0,8.91667,8.43333,"(8.916670, 8.433330)"
16,Akyumak,433,Valid,"Iron, IVA",50000.0,Fell,1981.0,39.91667,42.81667,"(39.916670, 42.816670)"
17,Al Rais,446,Valid,CR2-an,160.0,Fell,1957.0,24.41667,39.51667,"(24.416670, 39.516670)"
18,Al Zarnkh,447,Valid,LL5,700.0,Fell,2001.0,13.66033,28.96000,"(13.660330, 28.960000)"
19,Alais,448,Valid,CI1,6000.0,Fell,1806.0,44.11667,4.08333,"(44.116670, 4.083330)"
20,Albareto,453,Valid,L/LL4,2000.0,Fell,1766.0,44.65000,11.01667,"(44.650000, 11.016670)"
21,Alberta,454,Valid,L,625.0,Fell,1949.0,2.00000,22.66667,"(2.000000, 22.666670)"
22,Alby sur ChÃ©ran,458,Valid,Eucrite-mmict,252.0,Fell,2002.0,45.82133,6.01533,"(45.821330, 6.015330)"
23,Aldsworth,461,Valid,LL5,700.0,Fell,1835.0,51.78333,-1.78333,"(51.783330, -1.783330)"
24,Aleppo,462,Valid,L6,3200.0,Fell,1873.0,36.23333,37.13333,"(36.233330, 37.133330)"
25,Alessandria,463,Valid,H5,908.0,Fell,1860.0,44.88333,8.75000,"(44.883330, 8.750000)"
26,Alexandrovsky,465,Valid,H4,9251.0,Fell,1900.0,50.95000,31.81667,"(50.950000, 31.816670)"
27,Alfianello,466,Valid,L6,228000.0,Fell,1883.0,45.26667,10.15000,"(45.266670, 10.150000)"
28,Allegan,2276,Valid,H5,32000.0,Fell,1899.0,42.53333,-85.88333,"(42.533330, -85.883330)"
29,Allende,2278,Valid,CV3,2000000.0,Fell,1969.0,26.96667,-105.31667,"(26.966670, -105.316670)"
...,...,...,...,...,...,...,...,...,...,...
45686,Ysleta,30375,Valid,"Iron, ungrouped",140700.0,Found,1914.0,31.65000,-106.18333,"(31.650000, -106.183330)"
45687,Yucca 015,57175,Valid,H-metal,3.0,Found,2011.0,34.81970,-114.27610,"(34.819700, -114.276100)"
45688,Yucca 016,57158,Valid,H5,25.9,Found,2011.0,34.82658,-114.27763,"(34.826580, -114.277630)"
45689,Yucca 017,57159,Valid,H5,200.0,Found,2011.0,34.81923,-114.27735,"(34.819230, -114.277350)"
45690,Yudoma,30376,Valid,"Iron, IVA",7600.0,Found,1946.0,60.00000,140.00000,"(60.000000, 140.000000)"
45691,Zacatecas (1792),30381,Valid,"Iron, ungrouped",1000000.0,Found,1792.0,22.81667,-102.56667,"(22.816670, -102.566670)"
45692,Zacatecas (1969),30382,Valid,"Iron, IIIAB",6660.0,Found,1969.0,NaN,NaN,NaN
45693,Zaffra,30383,Valid,"Iron, IAB-MG",3000.0,Found,1919.0,35.00000,-94.75000,"(35.000000, -94.750000)"
45694,Zag (b),30385,Valid,Winonaite,300.0,Found,1999.0,27.33333,-9.33333,"(27.333330, -9.333330)"
45695,Zagora,30387,Valid,"Iron, IAB-ung",50000.0,Found,1987.0,30.36667,-5.85000,"(30.366670, -5.850000)"
45696,ZakÅodzie,30390,Valid,Enst achon-ung,8680.0,Found,1998.0,50.76278,22.86611,"(50.762780, 22.866110)"
45697,Zapaliname,30392,Valid,"Iron, IAB-MG",85000.0,Found,1998.0,25.00944,-100.75000,"(25.009440, -100.750000)"
45698,Zapata County,30393,Valid,Iron,NaN,Found,1930.0,27.00000,-99.00000,"(27.000000, -99.000000)"
45699,ZapotitlÃ¡n Salinas,30394,Valid,L4,27.7,Found,1984.0,18.33333,-97.50000,"(18.333330, -97.500000)"
45700,Zaragoza,48916,Valid,"Iron, IVA-an",162000.0,Found,NaN,41.65000,-0.86667,"(41.650000, -0.866670)"
45701,Zegdou,30398,Valid,H3,6700.0,Found,1998.0,29.75000,-4.50000,"(29.750000, -4.500000)"
45702,Zelfana,31353,Valid,L5,1058.0,Found,2002.0,32.15833,4.63333,"(32.158330, 4.633330)"
45703,Zenda,30400,Valid,"Iron, IAB complex",3700.0,Found,1955.0,42.51333,-88.48944,"(42.513330, -88.489440)"
45704,Zerga,30402,Valid,LL6,76.0,Found,1973.0,20.25000,-12.68333,"(20.250000, -12.683330)"
45705,Zerhamra,30403,Valid,"Iron, IIIAB-an",630000.0,Found,1967.0,29.85861,-2.64500,"(29.858610, -2.645000)"
45706,Zerkaly,31354,Valid,H5,16000.0,Found,1956.0,52.13333,81.96667,"(52.133330, 81.966670)"
45707,Zhaoping,54609,Valid,"Iron, IAB complex",2000000.0,Found,1983.0,24.23333,111.18333,"(24.233330, 111.183330)"
45708,Zhigansk,30405,Valid,"Iron, IIIAB",900000.0,Found,1966.0,68.00000,128.30000,"(68.000000, 128.300000)"
45709,Zhongxiang,30406,Valid,Iron,100000.0,Found,1981.0,31.20000,112.50000,"(31.200000, 112.500000)"
45710,Zillah 001,31355,Valid,L6,1475.0,Found,1990.0,29.03700,17.01850,"(29.037000, 17.018500)"
45711,Zillah 002,31356,Valid,Eucrite,172.0,Found,1990.0,29.03700,17.01850,"(29.037000, 17.018500)"
45712,Zinder,30409,Valid,"Pallasite, ungrouped",46.0,Found,1999.0,13.78333,8.96667,"(13.783330, 8.966670)"
45713,Zlin,30410,Valid,H4,3.3,Found,1939.0,49.25000,17.66667,"(49.250000, 17.666670)"
45714,Zubkovsky,31357,Valid,L6,2167.0,Found,2003.0,49.78917,41.50460,"(49.789170, 41.504600)"
45715,Zulu Queen,30414,Valid,L3.7,200.0,Found,1976.0,33.98333,-115.68333,"(33.983330, -115.683330)"